<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "profile.gif"%>
  </div>


  <div id="content">
    <h1>안녕하세요. dimlose 입니다.</h1>
    <p>만나서 반갑 블라블라블라</p>
    <p>이번주는 블라블라블라블라블라블라블라블라블라블라블라블라블라블라블라블라블라블라블라블라블라블라블라블라</p>
    <p>만일 당신이 블라블라블라블라블라블라블라블라블라블라블라블라블라블라블라블라블라블라블라블라블라블라블라블라</p>
    <p>Disrupt poutine cred normcore. Shabby chic food truck wolf, craft beer austin marfa man braid drinking vinegar neutra bespoke bitters flannel kogi. Pop-up wolf readymade, everyday carry butcher etsy occupy lomo austin drinking vinegar portland.
      VHS occupy venmo tousled affogato, lo-fi roof party. Marfa humblebrag poutine, tumblr YOLO everyday carry leggings messenger bag hella 90's synth cornhole. Raw denim franzen wolf ethical. Blog schlitz wolf kombucha photo booth affogato.</p>
  </div>
</div>
